<!doctype html>
<html lang="en">
<head>
    {% include 'head.jinja' %}
</head>
<body>
<main class="container">
    {% include 'navbar.jinja' %}
    <h1>O projektu</h1>
    Projekt je nastal na spodbudo prof. Saše Cecowski in prof. Katje Lah Majkić.
    <p></p>
    Glavni razvijalec spletne strani in vzdrževalec strežniške infrastrukture je Mitja Ševerkar. V primeru težav z dostopnostjo spletne strani, varovanjem osebnih podatkov in predlogi, se obrnite na elektronski naslov <a href="mailto:mitja.severkar@gimb.org">mitja.severkar@gimb.org</a>.
    <p></p>
    Spletna stran je napisana v okolju FastAPI v programskem jeziku Python, da se omogoči lažje vzdrževanje, ki ga bodo morale izvajati bodoče generacije.
    <p></p>
    Spletna stran je odprtokodna in licencirana pod licenco AGPLv3. Prispevate lahko <a href="https://github.com/bezidev/IzmenjevalnicaOblacil">še danes</a>.

    <h1>Pogoji uporabe</h1>
    Nazadnje spremenjeno: 8. december 2024
    <p></p>
    Ti pogoji uporabe regulirajo vašo uporabo (kot "Uporabnik") storitve "Šolska izmenjevalnica oblačil" (v nadaljevanju tudi "Izmenjevalnica" oz. "Storitev").
    <h2>Pravica do suspenza storitve</h2>
    Administratorji si pridržujejo pravico, da kateremukoli Uporabniku kadarkoli iz kakršnegakoli razloga prepovejo nadaljnjo uporabo Storitve.
    Za ta namen lahko administratorji uporabijo tudi tehnične rešitve.
    To so sicer drastični ukrepi, po katerih se ne bomo posluževali, razen v skrajnih primerih.
    <h2>Zbrani podatki</h2>
    Kot neregistriran uporabnik se od vas ne zbirajo nikakršni podatki.
    Ko se prvič prijavite, ustvarite račun za Izmenjevalnico, ki je povezan z vašim Microsoft računom, ki ga upravlja Gimnazija Bežigrad.
    V takem primeru se zbirajo naslednji podatki:
    <ul>
        <li>enolični identifikator računa (posredovan s strani Microsofta),</li>
        <li>elektronski naslov (posredovan s strani Microsofta),</li>
        <li>ime in priimek (posredovana s strani Microsofta) in</li>
        <li>drugi podatki, ki ne identificirajo osebe neposredno.</li>
    </ul>
    Za namene avtorizacije pri Storitvi, se za vse prijavljene uporabnike namesti obvezen piškotek "session". Piškotek se izbriše v primeru odjave in se ne namesti, če se ne prijavite.
    Poleg tega se lahko namestijo piškotki analitičnih storitev. Ti piškotki se lahko namestijo brez soglasja uporabnikov, saj so skladni z GDPR.
    <h2>Pravica do izbrisa, vpogleda v podatke in spremembe podatkov ter odstopa od pogojev uporabe</h2>
    Imate pravico do izbrisa, vpogleda v podatke in spremembe podatkov uporabniškega računa. V takem primeru napišite elektronsko pošto na <a href="mailto:mitja.severkar@gimb.org">mitja.severkar@gimb.org</a> preko šolskega elektronskega predala.
    Administrator bo vašo zahtevo obdelal v roku 14 dni.
    Če želite odstopiti od teh pogojev uporabe Storitve, lahko to naredite preko zahteve za izbris računa.
    <h2>Spremembe pogojev uporabe</h2>
    O vsaki spremembi pogojev uporabe boste obveščeni znotraj Storitve. V primeru nestrinjanja z novimi pogoji uporabe, imate pravico do odstopa od pogojev uporabe, kot opisana v prejšnjem razdelku.
    <h2>Dodatna vprašanja</h2>
    V primeru dodatnih vprašanj se lahko obrnete na <a href="mailto:mitja.severkar@gimb.org">mitja.severkar@gimb.org</a>.
</main>
</body>
</html>