<!doctype html>
<html lang="en">
<head>
    {% include 'head.jinja' %}
</head>
<body>
<main class="container">
    {% include 'navbar.jinja' %}
    <h1>O projektu</h1>
    Projekt je nastal na spodbudo prof. Saše Cecowski in prof. Katje Lah Majkić.
    <p></p>
    Glavni razvijalec spletne strani in vzdrževalec strežniške infrastrukture je Mitja Ševerkar. V primeru težav z dostopnostjo spletne strani, varovanjem osebnih podatkov in predlogi, se obrnite na elektronski naslov <a href="mailto:mitja.severkar@gimb.org">mitja.severkar@gimb.org</a>.
    <p></p>
    Spletna stran je napisana v okolju FastAPI v programskem jeziku Python, da se omogoči lažje vzdrževanje, ki ga bodo morale izvajati bodoče generacije.
    <p></p>
    Spletna stran je odprtokodna in licencirana pod licenco AGPLv3. Prispevate lahko <a href="https://github.com/bezidev/IzmenjevalnicaOblacil">še danes</a>.
</main>
</body>
</html>