<!doctype html>
<html lang="en">
<head>
    {% include 'head.jinja' %}
</head>
<body>
<main class="container">
    {% include 'navbar.jinja' %}
    <h1>{{ "administrator_overview"|translate(lang) }}</h1>
    {{ "admin_panel_split"|translate(lang) }}
    <ul>
        <li><a href="{{ url_for("admin_reservations") }}">{{ "reservation_overview"|translate(lang) }}</a></li>
        <li><a href="{{ url_for("admin_users") }}">{{ "user_overview"|translate(lang) }}</a></li>
    </ul>
</main>
</body>
</html>