<!doctype html>
<html lang="en">
<head>
    {% include 'head.jinja' %}
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            justify-items: stretch;
            align-items: stretch;
        }

        @media (max-width: 1024px) {
            .grid-container {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        @media (max-width: 768px) {
            .grid-container {
                grid-template-columns: 1fr 1fr;
            }
        }

        @media (max-width: 576px) {
            .grid-container {
                grid-template-columns: 1fr;
            }
        }

        .grid-element {
            min-height: 100px;
            border: solid 2px gray;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            padding: 10px;
        }

        .image-container {
            aspect-ratio: 1 / 1;
            width: 100%;
            position: relative;
            display: block;
            align-content: center;
            max-height: 100%;
        }

         .row {
          display: flex;
        }

        .column {
          flex: 50%;
        }
    </style>
</head>
<body>
<main class="container">
    {% include 'navbar.jinja' %}
    {% if login_success == False %}
        <div style="border-radius: 20px; padding: 10px; background-color: #ED4337;">
            <h3>{{ "error_signing_in"|translate(lang) }}</h3>
            {{ "please_try_again"|translate(lang) }}
        </div>
    {% endif %}
    <p></p>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        {% if is_admin %}
            <a href="/admin/new_product">
                <button>{{ "add_new_product"|translate(lang) }}</button>
            </a>
        {% else %}
            <div></div>
        {% endif %}
        <dialog id="filters" style="width: 100%;">
            <article>
                <header>
                    <button aria-label="{{ "close"|translate(lang) }}" rel="prev"
                            onclick="document.getElementById('filters').close()"></button>
                    <p>
                        <strong>{{ "filters"|translate(lang) }}</strong>
                    </p>
                </header>
                <form action="{{ url_for('home') }}" method="post">
                    <div style="width: 100%;" class="row">
                        <div class="column">
                            <span style="padding: 5px; font-weight: bold;">{{ "product_types"|translate(lang) }}</span>
                            {% for c in CATEGORIES %}
                                {% set category = PRODUCT_CATEGORIES[c] %}
                                <label>
                                    <input type="checkbox" name="{{ category["html_uid"] }}" {% if category["html_uid"] in filter_categories %}checked{% endif %}/>
                                    {{ category["emoji"] }} {{ category["name_" + lang] }}
                                </label>
                            {% endfor %}

                            <div style="height: 30px;"></div>
                            <span style="padding: 5px; font-weight: bold;">{{ "genders"|translate(lang) }}</span>
                            <label>
                                <input type="checkbox" name="gender_male" {% if "male" in filter_genders %}checked{% endif %}/>
                                {{ "gender_male"|translate(lang) }}
                            </label>
                            <label>
                                <input type="checkbox" name="gender_female" {% if "female" in filter_genders %}checked{% endif %}/>
                                {{ "gender_female"|translate(lang) }}
                            </label>
                            <label>
                                <input type="checkbox" name="gender_unisex" {% if "unisex" in filter_genders %}checked{% endif %}/>
                                {{ "gender_unisex"|translate(lang) }}
                            </label>
                            <div style="height: 30px;"></div>
                            <span style="padding: 5px; font-weight: bold;">{{ "materials"|translate(lang) }}</span>
                            {% for c in MATERIALS %}
                                <label>
                                    <input type="checkbox" name="{{ c }}" {% if c in filter_materials %}checked{% endif %}/>
                                    {{ c|translate(lang) }}
                                </label>
                            {% endfor %}
                        </div>
                        <div class="column">
                            <span style="padding: 5px; font-weight: bold;">{{ "colors"|translate(lang) }}</span>
                            {% for color in COLORS %}
                                <label>
                                    <input type="checkbox" name="{{ color }}" {% if color in filter_colors %}checked{% endif %}/>
                                    {{ color|translate(lang) }}
                                </label>
                            {% endfor %}
                            <div style="height: 30px;"></div>
                            <span style="padding: 5px; font-weight: bold;">{{ "sizes"|translate(lang) }}</span>
                            <label>
                                <input type="checkbox" name="size_xxs" {% if "XXS" in filter_sizes %}checked{% endif %}/>
                                XXS
                            </label>
                            <label>
                                <input type="checkbox" name="size_xs" {% if "XS" in filter_sizes %}checked{% endif %}/>
                                XS
                            </label>
                            <label>
                                <input type="checkbox" name="size_s" {% if "S" in filter_sizes %}checked{% endif %}/>
                                S
                            </label>
                            <label>
                                <input type="checkbox" name="size_m" {% if "M" in filter_sizes %}checked{% endif %}/>
                                M
                            </label>
                            <label>
                                <input type="checkbox" name="size_l" {% if "L" in filter_sizes %}checked{% endif %}/>
                                L
                            </label>
                            <label>
                                <input type="checkbox" name="size_xl" {% if "XL" in filter_sizes %}checked{% endif %}/>
                                XL
                            </label>
                            <label>
                                <input type="checkbox" name="size_xxl" {% if "XXL" in filter_sizes %}checked{% endif %}/>
                                XXL
                            </label>

                            <div style="height: 30px;"></div>
                            <span style="padding: 5px; font-weight: bold;">{{ "shoe_sizes"|translate(lang) }}</span>
                            <br>
                            {{ "from"|translate(lang) }}: <input type="number" name="size_from" placeholder="{{ "from"|translate(lang) }}" aria-label="{{ "from"|translate(lang) }}" value="{{ filter_size_from }}">
                            {{ "to"|translate(lang) }}: <input type="number" name="size_to" placeholder="{{ "to"|translate(lang) }}" aria-label="{{ "to"|translate(lang) }}" value="{{ filter_size_to }}">

                            <div style="height: 30px;"></div>
                            <span style="padding: 5px; font-weight: bold;">{{ "preservation"|translate(lang) }}</span>
                            <label>
                                <input type="checkbox" name="state_unknown" {% if "-1" in filter_states %}checked{% endif %}/>
                                {{ "state_unknown"|translate(lang) }}
                            </label>
                            <label>
                                <input type="checkbox" name="state_poor" {% if "50" in filter_states %}checked{% endif %}/>
                                {{ "state_poor"|translate(lang) }}
                            </label>
                            <label>
                                <input type="checkbox" name="state_medium" {% if "75" in filter_states %}checked{% endif %}/>
                                {{ "state_medium"|translate(lang) }}
                            </label>
                            <label>
                                <input type="checkbox" name="state_good" {% if "100" in filter_states %}checked{% endif %}/>
                                {{ "state_good"|translate(lang) }}
                            </label>
                            <label>
                                <input type="checkbox" name="state_great" {% if "200" in filter_states %}checked{% endif %}/>
                                {{ "state_great"|translate(lang) }}
                            </label>
                            <label>
                                <input type="checkbox" name="state_excellent" {% if "300" in filter_states %}checked{% endif %}/>
                                {{ "state_excellent"|translate(lang) }}
                            </label>

                            <div style="height: 30px;"></div>
                            {% if is_admin %}
                                <span style="padding: 5px; font-weight: bold;">{{ "product_states"|translate(lang) }}</span>
                                <label>
                                    <input type="checkbox" name="active" {% if filters["filter_active"] %}checked{% endif %}/>
                                    {{ "active"|translate(lang) }}
                                </label>
                                <label>
                                    <input type="checkbox" name="archived" {% if filters["filter_archived"] %}checked{% endif %}/>
                                    {{ "archived"|translate(lang) }}
                                </label>
                                <label>
                                    <input type="checkbox" name="draft" {% if filters["filter_draft"] %}checked{% endif %}/>
                                    {{ "draft"|translate(lang) }}
                                </label>
                            {% endif %}

                            <div style="height: 30px;"></div>
                            {% if is_teacher or is_admin %}
                                <p></p>
                                <fieldset>
                                    <label>
                                        <input name="teacher" type="checkbox" role="switch" {% if filters["filter_teacher"] %}checked{% endif %} />
                                        {{ "show_only_teacher_products"|translate(lang) }}
                                    </label>
                                </fieldset>
                            {% endif %}
                            {% if name != None %}
                                <fieldset>
                                    <label>
                                        <input name="my_reservations" type="checkbox" role="switch" {% if filters["filter_my_reservations"] %}checked{% endif %} />
                                        {{ "show_only_my_reservations"|translate(lang) }}
                                    </label>
                                </fieldset>
                            {% endif %}
                        </div>
                    </div>
                    <div style="height: 30px;"></div>
                    <footer>
                        <div style="display: flex;">
                            <button class="secondary" style="flex: 1 1 0; height: 100%;"
                                    onclick="document.getElementById('filters').close()">{{ "cancel"|translate(lang) }}</button>
                            <a href="{{ url_for("home") }}" style="flex: 1 1 0; height: 100%; width: 100%;"><button class="secondary" type="button" style="width: 100%;">{{ "clear_filters"|translate(lang) }}</button></a>
                            <button style="flex: 1 1 0; height: 100%;" type="submit">{{ "confirm_filters"|translate(lang) }}</button>
                        </div>
                    </footer>
                </form>
            </article>
        </dialog>
        <div style="display: flex; flex-direction: column;">
            <form method="POST" action="{{ url_for('home') }}" id="sort-form">
                <select name="sorting_method" aria-label="{{ "sort"|translate(lang) }}" style="width: fit-content;" onchange="sort()">
                    <option value="" {% if sorting_method == "" %}selected{% endif %}>{{ "recently_changed"|translate(lang) }}</option>
                    <option value="last-changed-asc" {% if sorting_method == "last-changed-asc" %}selected{% endif %}>{{ "least_recently_changed"|translate(lang) }}</option>
                    <option value="created-desc" {% if sorting_method == "created-desc" %}selected{% endif %}>{{ "recently_created"|translate(lang) }}</option>
                    <option value="created-asc" {% if sorting_method == "created-asc" %}selected{% endif %}>{{ "least_recently_created"|translate(lang) }}</option>
                    <option value="alphabet-asc" {% if sorting_method == "alphabet-asc" %}selected{% endif %}>{{ "alphabetic_order"|translate(lang) }}</option>
                    <option value="alphabet-desc" {% if sorting_method == "alphabet-desc" %}selected{% endif %}>{{ "reverse_alphabetic_order"|translate(lang) }}</option>
                    <option value="size-asc" {% if sorting_method == "size-asc" %}selected{% endif %}>{{ "increasing_size"|translate(lang) }}</option>
                    <option value="size-desc" {% if sorting_method == "size-desc" %}selected{% endif %}>{{ "decreasing_size"|translate(lang) }}</option>
                </select>
            </form>
            <button onclick="document.getElementById('filters').showModal()" class="secondary">{{ "select_filters"|translate(lang) }}</button>
        </div>
    </div>
    {% if name != None %}
        {{ "you_have"|translate(lang) }} <b>{{ credits }} {{ "credit"|translate_number(credits, lang) }}</b> {{ "and"|translate(lang) }} <b>{{ reserved_products }} {{ "reservation"|translate_number(reserved_products, lang) }}</b>.
    {% endif %}
    {% if products|length > 0 %}
        {{ "below_are_displayed"|translate_number(products|length, lang) }} <b>{{ products|length }} {{ "product"|translate_number(products|length, lang) }}</b>.
        <p></p>
        <div class="grid-container">
            {% for product in products %}
                <div class="grid-element">
                    <div class="image-container">
                        <a href="{{ url_for('item_details', item_id=product.product_id) }}"><img alt="{{ product.description }}" src="/uploads/images/{{ product.default_image_id }}-small.webp?t={% if product.draft %}{{ time }}{% else %}0{% endif %}"></a>
                    </div>
                    <div style="height: 10px"></div>
                    <h4><a href="{{ url_for('item_details', item_id=product.product_id) }}">{{ product.name }}</a></h4>
                    <h5>
                        {{ PRODUCT_CATEGORIES[product.category]["emoji"] }} {{ PRODUCT_CATEGORIES[product.category]["name_" + lang] }} {% if PRODUCT_CATEGORIES[product.category]["has_size"] and product.size != "" %}({{ "of_size"|translate(lang) }} {{ product.size }}){% endif %}
                    </h5>
                    {% if product.color != "" %}{{ product.color|translate(lang) }}{% if product.material != "" or product.brand != "" %}, {% endif %}{% endif %}{% if product.brand != "" %}<b>{{ product.brand }}</b>{% if product.material != "" %}, {% endif %}{% endif %}{% if product.material != "" %}<b>{{ product.material|translate(lang) }}</b>{% endif %}
                    <p></p>
                    <div style="display: flex; flex-direction: row;">
                        <div style="border: solid 2px white; border-radius: 15px; min-width: 120px; width: 25%; height: 30px; display: flex; flex-direction: row;">
                            <div style="align-content: center; width: 100%;">
                                <div style="display: flex; flex-direction: row; padding: 0 5px; justify-content: space-between; width: 100%;">
                                    {% if product.state >= 50 %}
                                        <div style="background-color: var(--pico-primary-background); height: 20px; width: 20px; border-radius: 10px;"></div>
                                    {% else %}
                                        <div style="background-color: white; height: 20px; width: 20px; border-radius: 10px;"></div>
                                    {% endif %}
                                    {% if product.state >= 75 %}
                                        <div style="background-color: var(--pico-primary-background); height: 20px; width: 20px; border-radius: 10px;"></div>
                                    {% else %}
                                        <div style="background-color: white; height: 20px; width: 20px; border-radius: 10px;"></div>
                                    {% endif %}
                                    {% if product.state >= 100 %}
                                        <div style="background-color: var(--pico-primary-background); height: 20px; width: 20px; border-radius: 10px;"></div>
                                    {% else %}
                                        <div style="background-color: white; height: 20px; width: 20px; border-radius: 10px;"></div>
                                    {% endif %}
                                    {% if product.state >= 200 %}
                                        <div style="background-color: var(--pico-primary-background); height: 20px; width: 20px; border-radius: 10px;"></div>
                                    {% else %}
                                        <div style="background-color: white; height: 20px; width: 20px; border-radius: 10px;"></div>
                                    {% endif %}
                                    {% if product.state >= 300 %}
                                        <div style="background-color: var(--pico-primary-background); height: 20px; width: 20px; border-radius: 10px;"></div>
                                    {% else %}
                                        <div style="background-color: white; height: 20px; width: 20px; border-radius: 10px;"></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div style="width: 10px;"></div>
                        {% if product.state == -1 %}
                            {{ "state_unknown"|translate(lang) }}
                        {% elif product.state == 50 %}
                            {{ "state_poor"|translate(lang) }}
                        {% elif product.state == 75 %}
                            {{ "state_medium"|translate(lang) }}
                        {% elif product.state == 100 %}
                            {{ "state_good"|translate(lang) }}
                        {% elif product.state == 200 %}
                            {{ "state_great"|translate(lang) }}
                        {% elif product.state == 300 %}
                            {{ "state_excellent"|translate(lang) }}
                        {% endif %}
                    </div>
                    {% if product.teacher and (is_teacher or is_admin) %}
                        <div style="height: 10px;"></div>
                        🧑‍🏫 {{ "product_donated_by_teacher"|translate(lang) }}
                    {% endif %}
                    <p></p>
                    {% if is_admin %}
                        <div role="group">
                            <a href="{{ url_for('archive_product', product_id=product.product_id) }}">
                                <button style="width: 100%;">{% if product.archived %}{{ "unarchive"|translate(lang) }}{% else %}
                                    {{ "archive"|translate(lang) }}{% endif %}</button>
                            </a>
                            <a href="{{ url_for('delete_product', product_id=product.product_id) }}">
                                <button style="width: 100%;" class="secondary">{{ "delete"|translate(lang) }}</button>
                            </a>
                        </div>
                        {% if product.draft %}
                            <a href="{{ url_for('draft_undraft_product', product_id=product.product_id) }}">
                                <button style="width: 100%;">{{ "undraft"|translate(lang) }}</button>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p></p>
        <span style="font-size: 5em; font-weight: bold;">(>_<)</span>
        <h3>{{ "no_results"|translate(lang) }}</h3>
    {% endif %}
</main>
</body>
<script>
    function sort() {
        console.log("sort")
        document.getElementById("sort-form").submit();
    }
</script>
</html>