<!doctype html>
<html lang="en">
<head>
    {% include 'head.jinja' %}
    <script src="/static/js/purify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <style>
        .slideshow-container {
            position: relative;
            margin: 50px auto;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        .slide {
            display: none;
            width: 100%;
        }

        .fade {
            animation: fade 1s ease-in-out;
        }

        @keyframes fade {
            from {
                opacity: 0.4;
            }
            to {
                opacity: 1;
            }
        }

        .dots {
            text-align: center;
            margin-top: 10px;
        }

        .dot {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 0 5px;
            background: #bbb;
            border-radius: 50%;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .dot:hover,
        .dot.active {
            background: #515151;
        }

        .grid-container {
            display: flex;
            flex-direction: row;
        }

        @media (max-width: 576px) {
            .grid-container {
                flex-direction: column;
            }
        }

        .item-description {
            width: 30vw !important;
        }

        @media (max-width: 576px) {
            .item-description {
                width: 100% !important;
            }
        }

        .grid-element {
            min-height: 100px;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            padding: 10px;
        }

        .image-container {
            aspect-ratio: 1 / 1;
            width: 100%;
            position: relative;
            display: block;
            align-content: center;
            max-height: 70vh;
        }

        .slide img {
            max-height: 60vh;
            height:auto;
            width:auto;
            align-content: center;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .slideshow-arrow-container {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            visibility: hidden;
        }

        .slideshow-arrow-subcontainer {
            visibility: visible;
            backdrop-filter: brightness(20%);
            height: 50px;
            width: 30px;
        }

        .slideshow-arrow {
            display: block;
            align-content: center;
            height: 100%;
            width: 100%;
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
        }
    </style>
</head>
<body>
<main class="container">
    {% include 'navbar.jinja' %}
    <div class="grid-container">
        <div class="grid-element">
            <div class="slideshow-container">
                {% for image in product_images %}
                    <div class="slide fade">
                        <div class="image-container">
                            <img src="/uploads/images/{{ image.image_id }}.webp?t={{ time }}" alt="{{ image.description }}">
                        </div>
                    </div>
                {% endfor %}
                <!-- izkaže se, da je JS koda nekako invertana, tako da to nima ravno smisla -->
                <div class="slideshow-arrow-container" style="justify-content: flex-start;" id="button-left">
                    <div class="slideshow-arrow-subcontainer" onclick="decreaseSlide()">
                        <span class="slideshow-arrow"><</span>
                    </div>
                </div>
                <div class="slideshow-arrow-container" style="justify-content: flex-end;" id="button-right">
                    <div class="slideshow-arrow-subcontainer" onclick="increaseSlide()">
                        <span class="slideshow-arrow">></span>
                    </div>
                </div>
            </div>

            <!-- Dots for navigation -->
            <div class="dots">
                {% for i in product_images %}
                    <span class="dot" onclick="currentSlide({{ loop.index }})"></span>
                {% endfor %}
            </div>
        </div>
        <div class="grid-element item-description">
            <div>
                {% if product.draft %}
                    <div style="border-radius: 20px; padding: 10px 10px 1px 10px; background-color: yellow;">
                        <h3 style="color: black !important;">{{ "product_is_draft"|translate(lang) }}</h3>
                    </div>
                    <br>
                {% endif %}
                {% if product.archived %}
                    <div style="border-radius: 20px; padding: 10px 10px 1px 10px; background-color: red;">
                        <h3 style="color: black !important;">{{ "product_is_archived"|translate(lang) }}</h3>
                    </div>
                    <br>
                {% endif %}
                <h1>{{ product.name }}</h1>
                <h3>
                    {{ PRODUCT_CATEGORIES[product.category]["emoji"] }} {{ PRODUCT_CATEGORIES[product.category]["name_" + lang] }}
                </h3>
                {% if product.size != "" %}
                    {{ "product_size"|translate(lang) }} <b>{{ product.size }}</b>
                {% endif %}
                <p></p>
                {% if product.color != "" %}{{ product.color|translate(lang) }}{% if product.material != "" or product.brand != "" %}, {% endif %}{% endif %}{% if product.brand != "" %}<b>{{ product.brand }}</b>{% if product.material != "" %}, {% endif %}{% endif %}{% if product.material != "" %}<b>{{ product.material|translate(lang) }}</b>{% endif %}
                <p></p>
                <div style="display: flex; flex-direction: row;">
                    <div style="border: solid 2px white; border-radius: 15px; min-width: 120px; width: 25%; height: 30px; display: flex; flex-direction: row;">
                        <div style="align-content: center; width: 100%;">
                            <div style="display: flex; flex-direction: row; padding: 0 5px; justify-content: space-between; width: 100%;">
                                {% if product.state >= 50 %}
                                    <div style="background-color: var(--pico-primary-background); height: 20px; width: 20px; border-radius: 10px;"></div>
                                {% else %}
                                    <div style="background-color: white; height: 20px; width: 20px; border-radius: 10px;"></div>
                                {% endif %}
                                {% if product.state >= 75 %}
                                    <div style="background-color: var(--pico-primary-background); height: 20px; width: 20px; border-radius: 10px;"></div>
                                {% else %}
                                    <div style="background-color: white; height: 20px; width: 20px; border-radius: 10px;"></div>
                                {% endif %}
                                {% if product.state >= 100 %}
                                    <div style="background-color: var(--pico-primary-background); height: 20px; width: 20px; border-radius: 10px;"></div>
                                {% else %}
                                    <div style="background-color: white; height: 20px; width: 20px; border-radius: 10px;"></div>
                                {% endif %}
                                {% if product.state >= 200 %}
                                    <div style="background-color: var(--pico-primary-background); height: 20px; width: 20px; border-radius: 10px;"></div>
                                {% else %}
                                    <div style="background-color: white; height: 20px; width: 20px; border-radius: 10px;"></div>
                                {% endif %}
                                {% if product.state >= 300 %}
                                    <div style="background-color: var(--pico-primary-background); height: 20px; width: 20px; border-radius: 10px;"></div>
                                {% else %}
                                    <div style="background-color: white; height: 20px; width: 20px; border-radius: 10px;"></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div style="width: 10px;"></div>
                    {% if product.state == -1 %}
                        {{ "state_unknown"|translate(lang) }}
                    {% elif product.state == 50 %}
                        {{ "state_poor"|translate(lang) }}
                    {% elif product.state == 75 %}
                        {{ "state_medium"|translate(lang) }}
                    {% elif product.state == 100 %}
                        {{ "state_good"|translate(lang) }}
                    {% elif product.state == 200 %}
                        {{ "state_great"|translate(lang) }}
                    {% elif product.state == 300 %}
                        {{ "state_excellent"|translate(lang) }}
                    {% endif %}
                </div>
                {% if product.teacher and (is_teacher or is_admin) %}
                    <div style="height: 10px;"></div>
                    🧑‍🏫 {{ "product_donated_by_teacher"|translate(lang) }}
                {% endif %}
                <p></p>
                <div>
                    {% if product.description != "" %}
                        <h4>{{ "description"|translate(lang) }}</h4>
                    {% endif %}
                    <div style="overflow-y: scroll; height: 100%;">
                        <div id="description"></div>
                    </div>
                </div>
                {% if is_admin %}
                    <a href="{{ url_for('product_edit', product_id=product.product_id) }}"><button>{{ "edit"|translate(lang) }}</button></a>
                    <a href="{{ url_for('draft_undraft_product', product_id=product.product_id) }}"><button>{% if product.draft %}{{ "undraft"|translate(lang) }}{% else %}{{ "convert_draft"|translate(lang) }}{% endif %}</button></a>
                    <a href="{{ url_for('archive_product', product_id=product.product_id) }}"><button>{% if product.archived %}{{ "unarchive"|translate(lang) }}{% else %}{{ "archive"|translate(lang) }}{% endif %}</button></a>
                    <a href="{{ url_for('delete_product', product_id=product.product_id) }}"><button class="secondary">
                        {{ "delete"|translate(lang) }}</button></a>
                {% endif %}
                <p></p>
                <hr>
                {% if name != None and (product.reserved_by_id == "" or product.reserved_by_id == None) %}
                    <a href="{{ url_for('product_reserve', product_id=product.product_id) }}"><button>{{ "reserve"|translate(lang) }}</button></a>
                {% endif %}
                {% if has_reserved %}
                    <a href="{{ url_for('product_reserve', product_id=product.product_id) }}"><button>{{ "remove_reservation"|translate(lang) }}</button></a>
                {% endif %}
                {% if name == None and (product.reserved_by_id == "" or product.reserved_by_id == None) %}
                    {{ "product_is_free_to_reserve"|translate(lang) }}
                {% endif %}
                {% if is_admin and not (product.reserved_by_id == "" or product.reserved_by_id == None) %}
                    <p></p>
                    {{ "reserved_by"|translate(lang) }}: {{ product.reserved_by.first_name }} {{ product.reserved_by.surname }} (<a href="mailto:{{ product.reserved_by.email }}">{{ product.reserved_by.email }}</a>)
                {% endif %}
            </div>
        </div>
    </div>
</main>

<script>
    const desc = `{{ product.description }}`;
    document.getElementById("description").innerHTML = DOMPurify.sanitize(marked.parse(desc));
</script>
<script src="/static/js/slideshow.js"></script>
</body>
</html>