<nav>
    <ul>
        <li><strong><a href="{{ url_for('home') }}" class="no-link">{{ "gimb_clothing_exchange"|translate(lang) }}</a> (<a href="{{"/language?lang=" + ("sl" if lang == "en" else "en") }}">
            {% if lang == "sl" %}
                EN
            {% else %}
                SL
            {% endif %}
        </a>)</strong></li>
    </ul>
    <ul>
        {% if name == None or name == "" %}
            <li><a href="{{ url_for('microsoft_login_redirect') }}">{{ "sign_in"|translate(lang) }}</a></li>
        {% else %}
            <li>{{ name }} ({% if is_admin %}<a href="{{ url_for('admin') }}">{{ "administrator"|translate(lang) }}</a>; {% endif %}{% if is_teacher %}{{ "teacher"|translate(lang) }}; {% endif %}<a href="{{ url_for('logout') }}">{{ "logout"|translate(lang) }}</a>)</li>
        {% endif %}
        <li><a href="{{ url_for('about_project') }}">{{ "about_project"|translate(lang) }}</a></li>
    </ul>
</nav>