<!doctype html>
<html lang="en">
<head>
    {% include 'head.jinja' %}
</head>
<body>
<main class="container">
    {% include 'navbar.jinja' %}
    <h1>{{ "adding_new_product"|translate(lang) }}</h1>
    <form method="POST">
        <input type="text" name="name" placeholder="{{ "product_name"|translate(lang) }}" aria-label="{{ "product_name"|translate(lang) }}" required>
        <select name="category" aria-label="{{ "select_category"|translate(lang) }}" required>
            <option selected disabled value="">
                {{ "select_category"|translate(lang) }}
            </option>
            {% for category in CATEGORIES %}
                <option value="{{ category }}">{{ PRODUCT_CATEGORIES[category]["emoji"] }} {{ PRODUCT_CATEGORIES[category]["name_" + lang] }}</option>
            {% endfor %}
        </select>
        <button type="submit">{{ "create_as_draft"|translate(lang) }}</button>
    </form>
</main>

<script src="/static/js/slideshow.js"></script>
</body>
</html>