<!doctype html>
<html lang="en">
<head>
    {% include 'head.jinja' %}
    <script src="/static/js/purify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <style>
        .shared-width {
            display: flex;
            flex-direction: row;
        }

        .shared-height {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
<main class="container">
    {% include 'navbar.jinja' %}
    <h1>{{ "editing_product"|translate(lang) }}</h1>
    <h3>{{ "general_product_details"|translate(lang) }}</h3>
    <form method="POST" action="{{ url_for('product_edit_post', product_id=product.product_id) }}">
        <input type="text" name="name" placeholder="{{ "product_name"|translate(lang) }}" aria-label="{{ "product_name"|translate(lang) }}" value="{{ product.name }}" required>
        <input type="text" name="brand" placeholder="{{ "product_brand"|translate(lang) }}" aria-label="{{ "product_brand"|translate(lang) }}" value="{{ product.brand }}">
        <div class="shared-width">
            <select name="category" aria-label="{{ "select_category"|translate(lang) }}" required>
                {% for category in CATEGORIES %}
                    <option value="{{ category }}" {% if product.category == category %}selected{% endif %}>{{ PRODUCT_CATEGORIES[category]["emoji"] }} {{ PRODUCT_CATEGORIES[category]["name_" + lang] }}</option>
                {% endfor %}
            </select>
            {% if PRODUCT_CATEGORIES[product.category]["has_size"] and product.category == "shoes" %}
                <div style="width: 5px;"></div>
                <input type="number" name="size" placeholder="{{ "write_size"|translate(lang) }}" aria-label="{{ "write_size"|translate(lang) }}" value="{{ product.size }}">
            {% elif PRODUCT_CATEGORIES[product.category]["has_size"] %}
                <div style="width: 5px;"></div>
                <select name="size" aria-label="{{ "select_size"|translate(lang) }}">
                    <option value="">{{ "select_size"|translate(lang) }}</option>
                    <option {% if product.size == "XXS" %}selected{% endif %}>XXS</option>
                    <option {% if product.size == "XS" %}selected{% endif %}>XS</option>
                    <option {% if product.size == "S" %}selected{% endif %}>S</option>
                    <option {% if product.size == "M" %}selected{% endif %}>M</option>
                    <option {% if product.size == "L" %}selected{% endif %}>L</option>
                    <option {% if product.size == "XL" %}selected{% endif %}>XL</option>
                    <option {% if product.size == "XXL" %}selected{% endif %}>XXL</option>
                </select>
            {% endif %}
        </div>
        <div class="shared-width">
            <select name="color" aria-label="{{ "select_color"|translate(lang) }}">
                <option value="">{{ "select_color"|translate(lang) }}</option>
                {% for color in COLORS %}
                    <option value="{{ color }}" {% if product.color == color %}selected{% endif %}>{{ color|translate(lang) }}</option>
                {% endfor %}
            </select>
            <select name="material" aria-label="{{ "select_material"|translate(lang) }}">
                <option value="">{{ "select_material"|translate(lang) }}</option>
                {% for material in MATERIALS %}
                    <option value="{{ material }}" {% if product.material == material %}selected{% endif %}>{{ material|translate(lang) }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="shared-width">
            <select name="state" aria-label="{{ "product_state"|translate(lang) }}">
                <option value="-1" {% if product.state == -1 %}selected{% endif %}>{{ "product_state_unknown"|translate(lang) }}</option>
                <option value="50" {% if product.state == 50 %}selected{% endif %}>
                    {{ "product_state_poor"|translate(lang) }}
                </option>
                <option value="75" {% if product.state == 75 %}selected{% endif %}>
                    {{ "product_state_medium"|translate(lang) }}
                </option>
                <option value="100" {% if product.state == 100 %}selected{% endif %}>
                    {{ "product_state_good"|translate(lang) }}
                </option>
                <option value="200" {% if product.state == 200 %}selected{% endif %}>
                    {{ "product_state_great"|translate(lang) }}
                </option>
                <option value="300" {% if product.state == 300 %}selected{% endif %}>
                    {{ "product_state_excellent"|translate(lang) }}
                </option>
            </select>
            <select name="gender" aria-label="{{ "gender"|translate(lang) }}">
                <option value="male" {% if product.gender == "male" %}selected{% endif %}>{{ "gender_male"|translate(lang) }}</option>
                <option value="female" {% if product.gender == "female" %}selected{% endif %}>{{ "gender_female"|translate(lang) }}</option>
                <option value="unisex" {% if product.gender == "unisex" %}selected{% endif %}>{{ "gender_unisex"|translate(lang) }}</option>
            </select>
        </div>
        <textarea name="description" id="description" placeholder="{{ "product_description_helper"|translate(lang) }}" aria-label="{{ "product_description_helper"|translate(lang) }}" onkeyup="renderDescription()" rows="10">{{ product.description }}</textarea>
        <h4>{{ "description_preview"|translate(lang) }}</h4>
        <hr>
        <div id="description-preview"></div>
        <fieldset>
            <label>
                <input name="archived" type="checkbox" role="switch" {% if product.archived %}checked{% endif %} />
                {{ "is_archived"|translate(lang) }}
            </label>
            <label>
                <input name="draft" type="checkbox" role="switch" {% if product.draft %}checked{% endif %} />
                {{ "is_draft"|translate(lang) }}
            </label>
            <label>
                <input name="teacher" type="checkbox" role="switch" {% if product.teacher %}checked{% endif %} />
                {{ "has_teacher_contributed"|translate(lang) }}
            </label>
            <label>
                <input name="limit_to_teachers" type="checkbox" role="switch" {% if product.limit_to_teachers %}checked{% endif %} />
                {{ "limit_only_to_teachers"|translate(lang) }}
            </label>
        </fieldset>
        <button type="submit">{{ "update"|translate(lang) }}</button>
        <hr>
    </form>
    <h3>{{ "upload_picture"|translate(lang) }}</h3>
    <form method="POST" action="{{ url_for('upload_image', product_id=product.product_id) }}" style="width: fit-content;" enctype="multipart/form-data">
        <input type="file" id="file" name="file" accept="image/*">
        <input type="text" name="description" placeholder="{{ "non_mandatory_picture_description"|translate(lang) }}" aria-label="{{ "non_mandatory_picture_description"|translate(lang) }}">
        <button type="submit" style="width: 100%;">{{ "upload"|translate(lang) }}</button>
    </form>
    <h3>{{ "product_images"|translate(lang) }}</h3>
    {% for image in images %}
        <article>
            <div class="shared-width row">
                <div class="shared-height col" style="width: 300px;">
                    <a href="{{ url_for('move_image_up_down', image_id=image.image_id, up_down='up') }}"><button style="width: 100%;" {% if product.default_image_id == image.image_id %}disabled{% endif %}>↑</button></a>
                    <div style="height: 5px;"></div>
                    <a href="{{ url_for('set_image_default', image_id=image.image_id) }}"><button style="width: 100%;" {% if product.default_image_id == image.image_id %}disabled{% endif %}>{{ "set_default_picture"|translate(lang) }}</button></a>
                    <div style="height: 5px;"></div>
                    <a href="{{ url_for('move_image_up_down', image_id=image.image_id, up_down='down') }}"><button style="width: 100%;" {% if product.default_image_id == image.image_id %}disabled{% endif %}>↓</button></a>
                    <div style="height: 5px;"></div>
                    <a href="{{ url_for('delete_image', image_id=image.image_id) }}"><button class="secondary" style="width: 100%;">{{ "delete_picture"|translate(lang) }}</button></a>
                    <div style="height: 25px;"></div>
                    <a href="{{ url_for('rotate_image_right', image_id=image.image_id) }}"><button class="secondary" style="width: 100%;">{{ "rotate_image_right"|translate(lang) }}</button></a>
                    <div style="height: 5px;"></div>
                    <a href="{{ url_for('rotate_image_left', image_id=image.image_id) }}"><button class="secondary" style="width: 100%;">{{ "rotate_image_left"|translate(lang) }}</button></a>
                </div>
                <div class="col" style="width: 5px;"></div>
                <img src="/uploads/images/{{ image.image_id }}.webp?t={{ time }}" alt="{{ image.description }}" style="height: 450px;">
            </div>
        </article>
    {% endfor %}
</main>

<script>
    function renderDescription() {
        const desc = document.getElementById("description").value;
        document.getElementById("description-preview").innerHTML = DOMPurify.sanitize(marked.parse(desc));
    }

    renderDescription();
</script>
</body>
</html>